@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-accent: #c79432;
  --color-accent-hover: #b6852d;
  --color-dark-slate: #17384a;
  --color-navbar: #0d3043;
}

.about-image {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@media (min-width: 768px) {
  .about-image {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }
}

body {
  font-family: 'Playfair Display', serif;
}

.playfair-sc {
  font-family: 'Playfair Display SC', serif;
}

.font-playfair-display {
  font-family: var(--font-playfair-display);
}

.font-playfair-display-sc {
  font-family: var(--font-playfair-display-sc);
}

.text-accent {
  color: var(--color-accent);
}

.text-accent-hover:hover {
  color: var(--color-accent);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-accent-hover:hover {
  background-color: var(--color-accent-hover);
}

.border-accent {
  border-color: var(--color-accent);
}

.text-dark-slate {
  color: var(--color-dark-slate);
}

.bg-navbar {
  background-color: var(--color-navbar);
}

.ring-accent:focus-visible {
  --tw-ring-color: var(--color-accent);
}

.bg-hero-overlay {
  background-image: linear-gradient(
    to right,
    rgb(11 79 90 / 80%),
    rgb(11 79 90 / 50%),
    rgb(11 79 90 / 30%)
  );
}

.bg-options-overlay {
  background-image: linear-gradient(
    to right,
    rgb(11 79 90 / 80%),
    rgb(11 79 90 / 70%),
    rgb(11 79 90 / 40%)
  );
}

.bg-cta-overlay {
  background-image: linear-gradient(
    to bottom right,
    rgb(23 56 74 / 55%),
    rgb(11 79 90 / 45%)
  );
}

.text-fixed-light {
  color: #ffffff !important;
}

.dark-background {
  background-color: var(--color-navbar);
}
